/********** Template CSS **********/
:root {
    --primary: #F3525A;
    --secondary: #F6F6F6;
    --light: #FFFFFF;
    --dark: #152440;
}

.simplified-view-toggle {
    display: none !important;
 }
 
h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.pt-6 {
    padding-top: 90px;
}

.pb-6 {
    padding-bottom: 90px;
}

.py-6 {
    padding-top: 90px;
}

.btn {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.top-shape::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 100%;
    top: 0;
    left: -17px;
    background: var(--primary);
    transform: skew(40deg);
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Barlow', sans-serif;
    padding: 35px 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 15px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(21, 36, 64, 0.2);
    z-index: 1;
}


.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

.service-item {
    position: relative;
    overflow: hidden;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.service-item::after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    background: var(--light);
    border-radius: 100% 100% 0 0;
    box-shadow: 0px -10px 5px #EEEEEE;
    transition: .5s;
    margin-top: 5px;
}

.imageDescriptionHomeFontTitle {
    font-size: 80px;
    line-height: 80px;
}

.imageDescriptionHomeFont {
    font-size: 30px;
}

/* .service-item:hover::after {
    border: 5px solid #2b4d8bab;
    border-radius: 10px;
} */

.service-item p {
    transition: .3s;
}

.service-item:hover {
    border: 5px solid #2b4d8b75;
    border-radius: 10px;
}

.team-item img {
    transform: scale(1.15);
    margin-left: -30px;
    transition: .5s;
}

.team-item:hover img {
    margin-left: 0;
}

.imageDescriptionHome {
    margin-bottom: 0%;
}

.imageDescriptionHome2 {
    margin-bottom: -4%;
}

.team-item .team-text {
    left: -100%;
    transition: .5s;
}

.team-item .team-text::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    right: -60px;
    margin-top: -30px;
    border: 30px solid;
    border-color: transparent transparent transparent var(--primary);
}

.team-item:hover .team-text {
    left: 0;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: start;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    margin: 0 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    font-size: 22px;
    border-radius: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

.testimonial-carousel .owl-item img {
    width: 90px;
    height: 90px;
}

.blog-item img {
    transition: .5s;
}

.blog-item:hover img {
    transform: scale(1.1);
}

.col-lg-4 {
    margin-left: auto;
    margin-right: auto;
}

.col-lg-3 {
    margin-left: auto;
    margin-right: auto;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 60px;
}

#contactData {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    bottom: auto;
    right: auto;
    width: fit-content;
}

.contactField {
    border: 10px solid black;
    background-color: #7ca5ff67;
}

.horizontalList {
    display: inline-block;
    min-width: 5rem;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

.navbarItem {
    color: #152440;
    text-align: right;
    margin-left: 5%;
    margin-right: auto;
    right: 0;
}

nav {
    width: 100%;
    position: fixed;
    top: 50px;
    text-transform: uppercase;
    background-color: white;
    text-align: top;
    z-index: 9999;
    top: 0;
    margin-top: 0;
}

.textDescService {
    font-family: 'Bahnschrift SemiBold', sans-serif;
    font-size: 2rem;
}

.textTitleService {
    font-family: 'Malgun Gothic', sans-serif;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.textTitleWhyUs {
    font-family: 'Malgun Gothic', sans-serif;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.textDescWhyUs {
    font-family: 'Bahnschrift SemiBold', sans-serif;
    font-size: 2rem;
}

.textRootTitleService {
    font-family: 'Verdana', sans-serif;
}

.textRootTitleWhyUs {
    font-family: 'Verdana', sans-serif;
}

.aboutUsTextDesc {
    font-family: 'Helvetica', sans-serif;
    font-size: 2rem;
}

.contactInfoTitle {
    font-size: 2rem;
    letter-spacing: 2px;
}

.contactInfoDesc {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.listNavbarPages {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    float: right;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 100%;
}

#listNavbar {
    margin-top: 0px;
    display: table-cell;
    margin-left: 0px;
    left: 0px;
}

.listNavbarItem {
    margin-left: 5px;
}

.nameOfThePage {
    margin-top: 100px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.testimonialDivCenter {
    /* display: block; */
    justify-content: center;
    align-items: center;
    margin: auto;
    height: fit-content;
}

.aboutUsImage {
    object-fit: scale-down;
    width: 100%;
}

.fitImage {
    object-fit: scale-down;
}

.fitImageService {
    max-height: 130px;
    max-width: 230px;
    width: 80%;
    margin-top: 4%;
    margin-bottom: 2%;
}

.fitDivImageService {
    max-height: 160px;
    max-width: 230px;
    margin-top: 4%;
    width: 130%;
    height: 100%;
}

.fitImageHeavyService {
    width: 90%;
    margin-top: 4%;
    margin-bottom: 2%;
    padding-right: 10%;
    padding-left: 10%;
}

.fitDivImageHeavyService {
    min-height: 60px;
    max-height: 230px;
    max-width: 360px;
    margin-top: 4%;
    width: 100%;
    height: 100%;
}

.photo {
    font-size: 110%;
    margin-left: 2%;
}


.homeImages {
    object-fit: fill;
}

.photoLarge {
    margin-left: 1%;
    width: fit-content;
    margin-bottom: 0%;
}

.photoFa {
    font-size: 25px;
    color: white;
    margin-right: 1%;
}

.logoWrapper {
    min-width: 340px;
    width: auto;
}

.logo {
    margin-left: 1%;
}

#homeTab,
#aboutTab,
#galleryTab,
#contactTab {
    min-width: 80px;
    width: fit-content;
    padding-left: 0%;
    white-space: nowrap;
}

#fName,
#mob1,
#mob2 {
    white-space: nowrap;
}

#pagesList {
    padding-left: 0%;
    margin-bottom: 0.3%;
}

#navbarElement {
    padding-left: 5px;
    padding-right: 5px;
    height: 105px;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;

}

.aboutUsImageDiv {
    width: fit-content;
    height: fit-content;
}

.reset-this-root {
    all: unset;
}

.reset-this-root:hover {
    all: unset;
}

.serviceItemBlock {
    background-color: #F6F6F6;
    border: 5px solid #8b8b8b;
    box-shadow: 0 0 30px 5px #89aeff59;
    border-radius: 10px;
    margin-top: 13px;
    transition: transform 0.3s ease-in-out;
}

.serviceItemBlock:hover {
    transform: translate(5px, 10px);
}


.smallMarginTopWhyUs {
    margin-top: 10px;
    padding-top: 10px;
}

.smallMarginTopAboutUsTitle {
    padding-top: 2%;
}

.aboutUsTextDescTitle {
    font-size: 2.5rem;
}

@media (max-width:1530px) {
    .smallMarginTopAboutUsTitle {
        padding-top: 2%;
        /* width: 100%; */
    }
    .aboutUsImageDiv, #aboutUsText {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
    }
    
    .aboutUsImage {
        object-fit: scale-down;
        width: 100%;
        height: 600px;
    }
    .aboutUsTextDesc {
        font-size: 2rem;
    }
    .aboutUsTextDescTitle {
        font-size: 2.5rem;
    }
    .aboutUsTextTitle {
        font-size: 3rem;
    }
}

@media (min-width:1300px) {
    .photosOnHomePage {
        height: 100%;
    }

    #homeTab,
    #aboutTab,
    #galleryTab,
    #contactTab {
        font-size: 20px;
        min-width: 80px;
    }

    #fName,
    #mob1,
    #mob2 {
        font-size: 20px;
        margin-left: 20px;
        margin-bottom: 0px;
        white-space: nowrap;
    }

    #navbarElement {
        font-size: 16px;
    }

    #logoWrapper {
        font-size: 23px;
        min-width: 500px;
        white-space: nowrap;
    }

    .paddingChange {
        padding: 10px;
    }
}

@media (min-width:1100px) and (max-width:1300px) {
    .photosOnHomePage {
        height: 15%;
    }

    #homeTab,
    #aboutTab,
    #galleryTab,
    #contactTab {
        font-size: 18px;
        min-width: 70px;
    }

    #fName,
    #mob1,
    #mob2 {
        font-size: 15px;
        white-space: nowrap;
    }

    #navbarElement {
        font-size: 13px;
    }

    #logoWrapper {
        font-size: 16px;
        min-width: 70px;
        white-space: nowrap;
    }

    .nameOfThePage {
        height: 130px;
        margin-top: 140px;
    }
}

@media (min-width:970px) and (max-width:1100px) {

    #homeTab,
    #aboutTab,
    #galleryTab,
    #contactTab {
        font-size: 13px;
        min-width: 60px;
    }

    #fName,
    #mob1,
    #mob2 {
        font-size: 13px;
    }

    #navbarElement {
        font-size: 12px;
    }

    #logoWrapper {
        font-size: 16px;
        min-width: 60px;
        white-space: nowrap;
    }

    .nameOfThePage {
        height: 110px;
        margin-top: 120px;
    }
}

@media (min-width: 576px) and (max-width:870px) {
    .carousel-caption h5 {
        font-size: 24px;
    }

    .carousel-caption h1 {
        font-size: 40px;
    }
}

@media (min-width: 870px) and (max-width:1100px) {
    .carousel-caption h5 {
        font-size: 45px;
    }

    .carousel-caption h1 {
        font-size: 60px;
    }
}

@media (min-width:870px) and (max-width:1300px) {
    .marginTop {
        margin-top: 5%;
    }

    .imageDescriptionHome {
        margin-bottom: 0%;
    }

    .imageDescriptionHome2 {
        margin-bottom: 0%;
    }
}

@media (min-width:650px) and (max-width:870px) {

    .imageDescriptionHome {
        margin-bottom: -10%;
    }

    .imageDescriptionHome2 {
        margin-bottom: -10%;
    }
}

@media (min-width:150px) and (max-width:650px) {

    .imageDescriptionHome {
        margin-bottom: -20%;
    }

    .imageDescriptionHome2 {
        margin-bottom: -20%;
    }
}

@media (min-width:1300px) and (max-width:1500px) {
    .marginTop {
        margin-top: 4%;
    }

    .imageDescriptionHome {
        margin-bottom: 0%;
    }

    .imageDescriptionHome2 {
        margin-bottom: 0%;
    }
}

@media (min-width:1500px) and (max-width:1840px) {
    .marginTop {
        margin-top: 3%;
    }

    .imageDescriptionHome {
        margin-bottom: 0%;
    }

    .imageDescriptionHome2 {
        margin-bottom: 0%;
    }
}

@media (min-width:1100px) and (max-width:1300px) {
    #navbarElement {
        height: 150px;
    }
}

@media (min-width:1300px) and (max-width:1840px) {
    #navbarElement {
        height: 155px;
    }
}


@media (min-width:970px) and (max-width:1840px) {

    #homeTab,
    #aboutTab,
    #galleryTab,
    #contactTab {
        font-size: 26px;
        min-width: 80px;
        width: 100%;
    }

    #aboutTab,
    #galleryTab,
    #contactTab {
        margin-left: 50px;
    }

    .marginLeftSmall {
        margin-left: 20px;
    }

    #fName,
    #mob1,
    #mob2 {
        margin-top: 1%;
        padding: 0%;
        margin-bottom: 5px;
        font-size: 25px;
    }

    #mob1,
    #mob2 {
        margin-left: 7%;
    }

    #mob2 {
        min-width: 300px;
        width: 100%;
    }

    #contantDetails {
        margin-top: 0px;
        padding: 0%;
        margin-bottom: 5px;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    #navbarElement {
        font-size: 10px;
        display: list-item;
        padding: 0%;
        padding-top: 15px;
    }

    #logoWrapper {
        font-size: 30px;
        min-width: 80px;
        margin-left: 5px;
    }

    #pagesList {
        margin-top: 0;
        width: 100%;
        margin-bottom: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .fitImageHeavyService {
        width: 110%;
        margin-top: 4%;
        margin-bottom: 2%;
        padding-right: 10%;
        padding-left: 10%;
    }

    .fitDivImageHeavyService {
        min-height: 130px;
        max-height: 230px;
        max-width: 360px;
        width: 100%;
        height: 100%;
    }
}

@media (min-width:970px) and (max-width:1100px) {
    #navbarElement {
        height: 155px;
    }
    
    #fName,
    #mob1,
    #mob2 {
        margin-top: 1%;
        padding: 0%;
        margin-bottom: 5px;
        font-size: 25px;
        white-space: nowrap;
    }

    #mob1,
    #mob2 {
        margin-left: 3%;
    }

    #mob2 {
        min-width: 500px;
        width: 100%;
    }
}

@media (min-width:1300px) and (max-width:1840px) {
    .nameOfThePage {
        height: 100px;
        margin-top: 150px;
    }
}

@media (min-width:1840px) {
    .nameOfThePage {
        height: 130px;
        margin-top: 90px;
    }
}

@media (min-width:770px) and (max-width:1120px) {

    #homeTab,
    #aboutTab,
    #galleryTab,
    #contactTab {
        font-size: 39px;
        min-width: 80px;
        width: 100%;
        margin-bottom: 1%;
    }

    
    .marginTop {
        margin-top: 140px;
    }

    #fName,
    #mob1,
    #mob2 {
        margin-top: 1%;
        padding: 0%;
        margin-bottom: 1%;
        font-size: 33px;
    }

    #contantDetails {
        margin-top: 1%;
        display: table-row-group;
        padding: 0%;
        margin-bottom: 1%;
    }

    .photoLarge {
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    #navbarElement {
        font-size: 10px;
        display: list-item;
        padding: 0%;
        padding-top: 5px;
    }

    #logoWrapper {
        font-size: 34px;
        min-width: 80px;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
    }

    #pagesList {
        margin-top: 0;
        width: 100%;
        margin-bottom: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .nameOfThePage {
        margin-top: 290px;
    }


    #navbarElement {
        height: 290px;
    }
}

@media (min-width:0px) and (max-width:770px) {

    
    .marginTop {
        margin-top: 140px;
    }

    #homeTab,
    #aboutTab,
    #galleryTab,
    #contactTab {
        font-size: 250%;
        min-width: 80px;
        width: 100%;
        margin-bottom: 1%;
    }

    #pagesList {
        margin-top: 0;
        width: 100%;
        margin-bottom: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    #fName,
    #mob1,
    #mob2 {
        margin-top: 1%;
        padding: 0%;
        margin-bottom: 1%;
        font-size: 300%;
    }

    #contantDetails {
        margin-top: 1%;
        display: table-row-group;
        padding: 0%;
        margin-bottom: 1%;
    }

    .photoLarge {
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    #navbarElement {
        font-size: 10px;
        display: list-item;
        padding: 0%;
        padding-top: 5px;
    }

    #logoWrapper {
        font-size: 250%;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
    }

    .nameOfThePage {
        margin-top: 280px;
    }

    .fitImageHeavyService {
        width: 100%;
        margin-top: 4%;
        margin-bottom: 2%;
        padding-right: 10%;
        padding-left: 10%;
    }

    .fitDivImageHeavyService {
        min-height: 110px;
        max-height: 230px;
        max-width: 360px;
        width: 100%;
        height: 100%;
    }

    #navbarElement {
        height: 280px;
    }
    
    #pagesListChild {
        margin-top: 0;
        margin-bottom: 5px;

        display: table-column;
        margin-left: auto;
        margin-right: auto;
        padding: 0%;
    }
}


@media (min-width:580px) and (max-width:1100px) {

    .imageDescriptionHomeFontTitle {
        /* font-size: 23px; */
        line-height: 30px;
    }
    
    .paddingChange {
        padding: 5px;
    }
}

@media (min-width:550px) and (max-width:580px) {

    .imageDescriptionHomeFontTitle {
        font-size: 23px;
        line-height: 23px;
    }

    .imageDescriptionHomeFont {
        font-size: 17px;
    }

    .paddingChange {
        padding: 3px;
    }
}

@media (min-width:580px) and (max-width:1100px) {

    .imageDescriptionHomeFont {
        font-size: 17px;
    }
}


@media (min-width:50px) and (max-width:770px) {

    .paddingChange {
        padding: 3px;
    }

    #fName,
    #mob1,
    #mob2 {
        margin-top: 1%;
        padding: 0%;
        margin-bottom: 1%;
        /* font-size: 14px; */
        margin-left: auto;
        margin-right: auto;
    }

    .photoLarge {
        width: 100%;
    }

    #logoWrapper {
        /* font-size: 14px; */
        /* min-width: 80px; */

        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .imageDescriptionHomeFontTitle {
        font-size: 16px;
        line-height: 30px;
    }

    .imageDescriptionHomeFont {
        font-size: 10px;
    }
}
@media (min-width:10px) and (max-width:600px) {
    .imageDescriptionHomeFontTitle {
        line-height: 20px;
    }
}

@media (min-width:600px) and (max-width:1100px) {
    .imageDescriptionHomeFontTitle {
        line-height: 40px;
    }
}

@media (min-width:100px) and (max-width:1100px) {

    .contactDivList {
        margin-top: 0px;
        display: table-cell;
        margin-left: 0px;
        left: 0px;
        margin: 0%;
    }

    .contactDivListRoot {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .smallMarginTop {
        margin-top: 5px;
        padding-top: 5px;
    }

    #secondDiv {
        margin-top: 35px;
    }
}

@media (min-width:100px) and (max-width:440px) {

    .fitImageService {
        max-height: 130px;
        max-width: 230px;
        width: 80%;
    }

    .fitDivImageService {
        max-height: 160px;
        max-width: 230px;
        width: 110%;
    }
}


@media (min-width:480px) and (max-width:570px) {

    #logoWrapper {
        font-size: 19px;
    }

    #fName,
    #mob1,
    #mob2 {
        font-size: 25px;
    }

    #homeTab,
    #aboutTab,
    #galleryTab,
    #contactTab {
        font-size: 250%;
    }

    #navbarElement{
        height: 245px;
    }

    .nameOfThePage {
        margin-top: 240px;
    }

    .marginTop {
        margin-top: 120px;
    }
}

@media (min-width:400px) and (max-width:480px) {

    #logoWrapper {
        font-size: 17px;
    }

    #fName,
    #mob1,
    #mob2 {
        font-size: 20px;
    }

    #navbarElement{
        height: 220px;
    }

    #homeTab,
    #aboutTab,
    #galleryTab,
    #contactTab {
        font-size: 200%;
    }

    #navbarElement{
        height: 200px;
    }

    .nameOfThePage {
        margin-top: 200px;
    }

    .marginTop {
        margin-top: 100px;
    }
}

@media (min-width:0px) and (max-width:400px) {

    #logoWrapper {
        font-size: 15px;
    }

    #fName,
    #mob1,
    #mob2 {
        font-size: 18px;
    }

    #navbarElement{
        height: 200px;
    }

    #homeTab,
    #aboutTab,
    #galleryTab,
    #contactTab {
        font-size: 180%;
    }

    #navbarElement{
        height: 185px;
    }

    .nameOfThePage {
        margin-top: 175px;
    }

    .marginTop {
        margin-top: 90px;
    }
}

@media (min-width:100px) and (max-width:320px) {

    #navbarElement {
        height: 185px;
    }

    .marginTop {
        margin-top: 90px;
    }
}

@media (min-width:0px) and (max-width:235px) {

    #navbarElement {
        height: 170px;
    }
}
@media (min-width:0px) and (max-width:235px) {

    #navbarElement {
        height: 170px;
    }
}
@media (min-width:0px) and (max-width:215px) {

    #navbarElement {
        height: 180px;
    }
}