<!-- Testimonial Start -->
<div class="container-fluid bg-secondary p-0">
    <div class="row g-0 testimonialDivCenter">
        <div class="col-lg-6 py-6 px-5">
            <h1 class="display-5 mb-4">What do our clients say?</h1>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item">
                    <p class="fs-2 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>Thank you for the excellent service in transporting our cargo. Your reliability and professionalism exceeded our expectations.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle lazy" data-src="img/profile_photo_male.jpg" alt="profilna slika">
                        <div class="ps-4">
                            <h3>Jaime Schmidt</h3>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <p class="fs-2 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>"We would like to thank your company for the fast and efficient transport of our cargo. We appreciate your professional knowledge and excellent service you have provided us.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle lazy" data-src="img/profile_photo_male.jpg" alt="profilna slika">
                        <div class="ps-4">
                            <h3>Lena Müller/h3>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <p class="fs-2 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>Thank you for the excellent service in transporting our goods. Your kindness and careful handling of our cargo were excellent, and your drivers were very professional.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle lazy" data-src="img/profile_photo_female.jpg" alt="profilna slika">
                        <div class="ps-4">
                            <h3>Maximilian Bauer</h3>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <p class="fs-2 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>All praise to your company for the excellent service in transporting our cargo. Your speed, reliability, and attention to our goods have amazed us. We look forward to future cooperation with you.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle lazy" data-src="img/profile_photo_male.jpg" alt="profilna slika">
                        <div class="ps-4">
                            <h3>Sophie Schmitz</h3>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <p class="fs-2 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>Thank you for the flawless service in transporting our cargo. Your expertise and attention to detail were impressive, and your service exceeded expectations.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle lazy" data-src="img/profile_photo_male.jpg" alt="profilna slika">
                        <div class="ps-4">
                            <h3>Jonas Lehmann</h3>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <p class="fs-2 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>We would like to express our gratitude for your professionalism and excellent service in transporting our goods. Your speed, reliability, and attention to detail were incredible.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle lazy" data-src="img/profile_photo_female.jpg" alt="profilna slika">
                        <div class="ps-4">
                            <h3>Julia Becker</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->