<!-- Gallery Start -->
<div class="container-fluid bg-secondary p-0">
    <!-- Gallery -->
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="img/1.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />

            <img src="img/6.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="img/3.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />

            <img src="img/4.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="img/5.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />

            <img src="img/2.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="img/7.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />

            <img src="img/8.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="img/9.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />

            <img src="img/10.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="img/11.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />

            <img src="img/12.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="img/13.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />

            <img src="img/14.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="img/15.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />

            <img src="img/16.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="img/17.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />

            <img src="img/18.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="img/19.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />

            <img src="img/20.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="img/21.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />

            <img src="img/22.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="img/23.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />

            <img src="img/24.avif" class="w-100 shadow-1-strong rounded mb-4" alt="transport vozila" />
        </div>
    </div>
    <!-- Gallery -->
</div>
<!-- Gallery End -->