<nav class="navigationWrapper" id="navbarElement">
    <div class="logoWrapper" id="logoWrapper">
        <span class="stylish">Transport Evropa</span>
        <span class="logo">By Autoservice Mazić</span>
    </div>
    <div class="navigation listNavbarPages" id="contantDetails">
        <p class="fa fa-envelope-open link photoLarge" id="fName"><i class="listNavbarItem">danilo.mazic12@gmail.com</i>
        </p>
        <p class="fa fa-phone-alt me-2 link photoLarge" id="mob1"><i class="listNavbarItem">+381 6286 07021</i></p>
        <p class="fa fa-phone-alt me-2 link photoLarge" id="mob2"><i class="listNavbarItem">Viber/WA: +49 170436
                2889</i></p>
    </div>
    <ul class="navigation" id="pagesList">
        <li class="parent"><a href="index.html" class="link" id="homeTab">Pocetna</a></li>
        <li class="parent"><a href="about.html" class="link" id="aboutTab">O nama</a></li>
        <li class="parent"><a href="gallery.html" class="link" id="galleryTab">Galerija</a></li>
        <li class="parent"><a href="contact.html" class="link" id="contactTab">Kontakt</a></li>
    </ul>
</nav>