<!-- Testimonial Start -->
<div class="container-fluid bg-secondary p-0">
    <div class="row g-0 testimonialDivCenter">
        <div class="col-lg-6 py-6 px-5">
            <h1 class="display-5 mb-4">Was sagen unsere Kunden?</h1>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item">
                    <p class="fs-2 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>Vielen Dank für den ausgezeichneten Service bei der Beförderung unserer Fracht. Ihre Zuverlässigkeit und Professionalität haben unsere Erwartungen übertroffen.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle lazy" data-src="img/profile_photo_male.jpg" alt="profilna slika">
                        <div class="ps-4">
                            <h3>Jaime Schmidt</h3>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <p class="fs-2 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>Wir möchten uns bei Ihrem Unternehmen für den schnellen und effizienten Transport unserer Fracht bedanken. Wir schätzen Ihr Fachwissen und den ausgezeichneten Service, den Sie uns angeboten haben.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle lazy" data-src="img/profile_photo_male.jpg" alt="profilna slika">
                        <div class="ps-4">
                            <h3>Lena Müller</h3>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <p class="fs-2 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>Vielen Dank für den ausgezeichneten Service beim Transport unserer Waren. Ihre Freundlichkeit und sorgfältige Handhabung unserer Fracht waren hervorragend, und Ihre Fahrer waren sehr professionell.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle lazy" data-src="img/profile_photo_female.jpg" alt="profilna slika">
                        <div class="ps-4">
                            <h3>Maximilian Bauer</h3>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <p class="fs-2 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>Alle Anerkennung für Ihr Unternehmen für den ausgezeichneten Service beim Transport unserer Fracht. Ihre Schnelligkeit, Zuverlässigkeit und Aufmerksamkeit für unsere Güter haben uns beeindruckt. Wir freuen uns auf zukünftige Zusammenarbeit mit Ihnen.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle lazy" data-src="img/profile_photo_male.jpg" alt="profilna slika">
                        <div class="ps-4">
                            <h3>Sophie Schmitz</h3>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <p class="fs-2 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>Vielen Dank für den einwandfreien Service beim Transport unserer Fracht. Ihre Expertise und Aufmerksamkeit für Details waren beeindruckend und Ihr Service hat die Erwartungen übertroffen.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle lazy" data-src="img/profile_photo_male.jpg" alt="profilna slika">
                        <div class="ps-4">
                            <h3>Jonas Lehmann</h3>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <p class="fs-2 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i>Wir möchten Ihnen unsere Dankbarkeit für Ihre Professionalität und ausgezeichneten Service bei der Beförderung unserer Güter zum Ausdruck bringen. Ihre Schnelligkeit, Zuverlässigkeit und Liebe zum Detail waren unglaublich.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle lazy" data-src="img/profile_photo_female.jpg" alt="profilna slika">
                        <div class="ps-4">
                            <h3>Julia Becker</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->